<section>	
	<p>Galileo Computers is the world's leading manufacturer of
		customized high-end computer hardware solutions. We source
		specialized computer parts via reverse auctions and guarantee
		delivery of all hardware within 14 days. Our clients include over
		half of the world's Fortune 500 companies as well as numerous
		governments and universities.</p>
	<p>Founded in 1994, we are headquartered in Dublin, Ireland. We
		started out by serving the Irish and UK markets. In 1999 we expanded
		into mainland Europe, and since 2003 we have been supplying
		customers around the world.</p>
	<p>Over the years we have developed relationships with a huge
		number of computer parts suppliers. It is this unparalleled network
		of suppliers that allows us to quickly piece together be-spoke solutions
		that are tailored to each individual customer and that are cheaper
		than any of our competitors.</p>
	</section>
		
	<section>
		<p>Below you can see the locations of just a sample of our
			customers worldwide.</p>
		<div id="mapCanvas">
	
		</div>
		<div id="mapHolder">
		
		</div>
		<br>
	</section>
	
	<section>						
		<hr/>
		
		<p>
			When we're not working, our main interests are running, travel and photography. Last year we completed the
			Dublin marathon. Below you can see the details of the run and a video of the race highlights.
		</p>
	
		<iframe id="garminMap"
			src="http://connect.garmin.com:80/activity/embed/238363746"></iframe>
	
		<iframe id="marathonYoutube"
			src="http://www.youtube.com/embed/iBBkcv-3BX8"></iframe>		
		<br/>
	
	</section>
	
	<section id="photosIntro">
		<br>
		<hr/>
		<p>
			Our last holiday was a trip to Iceland. Here is a selection of the photos and videos we took while 
			we were there.
		</p>
		</section>
		<section id="embeddedPicsSection">
		<embed id="embeddedPics"
			src="http://pic2.pbsrc.com/flash/rss_slideshow.swf"
			flashvars="rssFeed=http%3A%2F%2Ffeed19.photobucket.com%2Falbums%2Fb189%2Fdavidbaker29%2FIceland%2FIceland%2520Circle%2520Tour%2520March%25202013%2Ffeed.rss"
			type="application/x-shockwave-flash" wmode="transparent" />
		<a href="javascript:void(0);" target="_blank"> <img
			src="http://pic.photobucket.com/share/icons/embed/btn_geturs.gif"
			style="border: none;" alt="" /></a> <a
			href="http://s19.photobucket.com/user/davidbaker29/library/Iceland/Iceland%20Circle%20Tour%20March%202013"
			target="_blank"> <img
			src="http://pic.photobucket.com/share/icons/embed/btn_viewall.gif"
			style="border: none;"
			alt="davidbaker29&#039;s Iceland Circle Tour March 2013 album on Photobucket" />
		</a>
	</section>