<h3 id="auctionDetailsHeader">Auction: <%= name %></h3>	

<div id="bidPageAuctionSlogans">
	<p>Best Bid:</p>
	<p>Part Type:</p>
	<p>Required Quantity:</p>
	<p>Closing Date:</p>
</div>

<div id="bidPageAuctionValues">
	<p id="bestBidOnAuction"><%= bestBid %> euro</p>
	<p class="bidPageAuctionValue"><%= partType %>	</p>	
	<p class="bidPageAuctionValue"><%= requiredQuantity %></p>
	<p class="bidPageAuctionValue"><%= closingDate %></p>
</div>

<div id="bidResultSuccess"></div>
<div id="bidResultFail"></div>

			